/**
 * Desktop Front End Columns
**/


.nuno-sarmento-pb-col-1{
  .row-content {
    width: 100%;
		padding: 20px;
  }
}

.nuno-sarmento-pb-col-2{

  .nuno-sarmento-pb-col-2-left{
		width: 48%;
    float: left;
    padding: 20px;

	}

	.nuno-sarmento-pb-col-2-right{
		width: 48%;
    float: left;
    padding: 20px;

	}

}

.nuno-sarmento-pb-col-3{
  .row-content-1,
  .row-content-2,
  .row-content-3 {
    width: 32%;
    float: left;
    padding: 20px;
  }
}

.nuno-sarmento-pb-col-4{
  .row-content-1,
  .row-content-2,
  .row-content-3,
  .row-content-4 {
    width: 24%;
    float: left;
    padding: 20px;
  }
}

.nuno-sarmento-pb-col-5 {

  .box__callout_right {
		font-size: 25px;
		font-weight: bold;
    width: 69%;
    float: right;
    text-align: center;
    margin: 0 auto;
		padding: 0px;
  }

  .box__callout_left {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 auto;
		padding: 0px;

		a.row-content-1.nuno-sarmento-pb-call-button {
	    float: left;
	  }

  }

}

.nuno-sarmento-pb-col-2-3{
	width: 66.66%;
	padding: 10px;
}

.nuno-sarmento-pb-col-1-3{
	width: 33.33%;
	padding: 10px;
}

.nuno-sarmento-pb-row:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
